In [ ]:
List
: Create a list of your top 5 favorite movies, and practice adding, removing, and accessing them.

In [1]:
favorite_movies = ["Bhahubali", "Puspa", "RRR", "Titanic", "Avatar"] # Creating a list of top 5 favorite movies
print("Favorite Movies List:", favorite_movies)

# Adding a new movie
favorite_movies.append("Devara")
print("After Adding 'The Matrix':", favorite_movies)

# Removing a movie
favorite_movies.remove("Titanic")
print("After Removing 'Titanic':", favorite_movies)

# Accessing a movie by index
second_movie = favorite_movies[1]
print("The second favorite movie is:", second_movie)

# Accessing the last movie
last_movie = favorite_movies[-1]
print("The last movie in the list is:", last_movie)

Favorite Movies List: ['Bhahubali', 'Puspa', 'RRR', 'Titanic', 'Avatar']
After Adding 'The Matrix': ['Bhahubali', 'Puspa', 'RRR', 'Titanic', 'Avatar', 'Devara']
After Removing 'Titanic': ['Bhahubali', 'Puspa', 'RRR', 'Avatar', 'Devara']
The second favorite movie is: Puspa
The last movie in the list is: Devara

In [ ]:
Tuple: Create a tuple with information about your favorite book (title, author, publication year) and print each element.

In [3]:
favorite_book = ("Panchatantra", "Vishnu Sharma", 1800) # Creating a tuple with information about a favorite book

# Printing each element of the tuple
print("Book Title:", favorite_book[0])
print("Author:", favorite_book[1])
print("Publication Year:", favorite_book[2])

Book Title: Panchatantra
Author: Vishnu Sharma
Publication Year: 1800

In [ ]:
Sets: Create two sets of students enrolled in different courses and find the students who are enrolled in both courses.

In [5]:
# Students enrolled in Python course
python_students = {"Neeraja", "Vamsi", "Gayi", "Ammu"}

# Students enrolled in Data Science course
data_science_students = {"Chitti", "Neeraja", "Vamsi", "Tarak"}

# Finding students enrolled in both courses (Intersection)
both_courses = python_students & data_science_students

print("Students enrolled in both courses:", both_courses)

Students enrolled in both courses: {'Vamsi', 'Neeraja'}

In [ ]:
Dictionary: Create a dictionary that stores the prices of 5 items from a grocery store. Practice adding, updating, and removing items.

In [7]:
# Creating a dictionary with grocery items and their prices
grocery_prices = {"Milk": 5,"Bread": 3,"Eggs": 8,"Rice": 10,"Apple": 2}

print("Grocery Prices:", grocery_prices)

# Adding a new item
grocery_prices["Banana"] = 1
print("After Adding Banana:", grocery_prices)

# Updating the price of an existing item
grocery_prices["Milk"] = 6
print("After Updating Milk Price:", grocery_prices)

# Removing an item
del grocery_prices["Rice"]
print("After Removing Rice:", grocery_prices)

Grocery Prices: {'Milk': 5, 'Bread': 3, 'Eggs': 8, 'Rice': 10, 'Apple': 2}
After Adding Banana: {'Milk': 5, 'Bread': 3, 'Eggs': 8, 'Rice': 10, 'Apple': 2, 'Banana': 1}
After Updating Milk Price: {'Milk': 6, 'Bread': 3, 'Eggs': 8, 'Rice': 10, 'Apple': 2, 'Banana': 1}
After Removing Rice: {'Milk': 6, 'Bread': 3, 'Eggs': 8, 'Apple': 2, 'Banana': 1}

In [9]:
import numpy as np

In [11]:
# Numpy Array
nparray = np.array([1,2,3,4,5,6,"Dev", 4,5,12, 123]) 
nparray

# U21 - Unicode 21 Numpy type

array(['1', '2', '3', '4', '5', '6', 'Dev', '4', '5', '12', '123'],
      dtype='<U11')